$primary-color:#1E2671;
$secondary-color: #742F6B;
$tertiary-color: #C23764;
$color: #fff;
$dark-color: #000;

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    scroll-behavior: smooth !important;
    font-family: "PT Sans" !important;
    background-color: #eee !important;
}


a{
    text-decoration: none !important;
    color: #333;
    outline: none !important;
}
*{
    transition: 0.7s;
}

h1{
    color: #fff !important;
    font-weight: bold !important;
    font-size: 45px !important;
}
h2{
    font-size: 30px !important;
    font-weight: bold !important;
    color: #2c3e50 !important;
}
h3{
    color: #fff !important;
    font-weight: bold !important;
    font-size: 25px !important;
}
h4{
    font-size: 30px !important;
    font-weight: bold !important;
    color: #fff !important;
}
h5{
    margin-top: 0 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: $primary-color !important;
}
h6{
    font-size: 18px !important;
    font-weight: bold !important;
    color: $dark-color !important;
    margin: 0 !important;
}
.overflow-hide{
    overflow: hidden !important;
}

.top-margin-5{
    margin-top: 5px !important;
}
.top-margin-10{
    margin-top: 10px !important;
}
.top-margin-20{
    margin-top: 20px !important;
}
.top-margin-30{
    margin-top: 30px !important;
}
.top-margin-40{
    margin-top: 40px !important;
}
.btn-apply-light{
    padding: 8px 30px !important;
    border: 2px solid $tertiary-color !important;
    background-color: $tertiary-color !important;
    color: #fff !important;
    transition: all .3s ease-out;
    letter-spacing: 0.5px;
    &:hover{
        border: 2px solid #a50d3d !important;
        background: #a50d3d;
        text-decoration: none;
    }
}

.gj-picker{
    z-index: 7 !important;
    box-shadow: 1px 2px 15px 2px #00000050;
}

.login{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    background: url(../images/header-background.jpg);
    .login-box{
        position: relative;
        margin: auto;
        width: 400px;
        height: 440px;
        padding: 25px;
        border-radius: 5px;
        //background: linear-gradient(150deg, $primary-color, $tertiary-color);
        background-color: $primary-color;
        box-shadow: 1.563px 6.863px 20px 0 #000000aa;
        .heading{
            font-size: 40px;
            color: #fff;
            text-align: center;
        }
        form{
            padding: 20px;
            margin-top: 40px;
            .form-group{
                position: relative;
                .form-control{
                    background-color: $primary-color;
                    border: 1.5px solid #101650;
                    border-radius: 2px;
                    box-shadow: inset 0px 0px 14px 8px #101650;
                    padding: 20px 30px;
                    color: #fff;
                }
                ::placeholder { 
                    color: #fff;
                }
                .icon{
                    position: absolute;
                    right: 14px;
                    top: 14px;
                    color: #fff;
                }
            }
            .forgot{
                text-align: right;
                font-size: 14px;
                color: #eee;
                margin-bottom: 15px;
            }
            .error{
                margin-bottom: 5px;
                p{
                    background-color: red;
                    text-align: center;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                }
            }
        }
    }
}


// Dashboard start //

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: $color;
    transition: .5s;
    z-index: 11;
    box-shadow: 1px 0 15px 2px #00000030;
    .head{
        position: relative;
        width: 100%;
        height: initial;
        display: grid;
        padding: 10px 16px;
        background: linear-gradient(150deg, $primary-color, $tertiary-color);
        .logo{
            margin: auto;
            display: grid;
            width: 100%;    
            grid-template-columns: 40px auto 20px;
            grid-column-gap: 10px;
            img{
                width: 40px;
            }
            .title{
                margin: auto 0;
                display: grid;
                color: #ffffff;
                font-size: 25px;
                font-family: 'Exotc350 DmBd BT';
            }
            i{
                margin: auto 0;
                color: #fff;
                font-size: 18px;
            }
            .btnmenu{
                display: none;
            }
            .btnmenuclose{
                position: absolute;
                left: 250px;
                top: 20px;
                font-size: 20px;
                color: $tertiary-color;
                transform: rotate(180deg);
            }
        }
    }
    .body{
        position: relative;
        position: relative;
        width: 100%;
        height: initial;
        display: grid;
        padding: 22px 16px;
        a{
            color: #707070;
            text-decoration: none;
            font-size: 15px;
            padding: 10px 20px;
            margin-bottom: 8px;
            border-radius: 20px;
            transition: 0s;
            &:hover{
                background: linear-gradient(150deg, $primary-color, $tertiary-color);
                color: $color;
                transition: 0s !important;
            }
            .icon{
                margin-right: 10px;
            }
        }
        .active{
            background: linear-gradient(150deg, $primary-color, $tertiary-color);
            color: $color;
            transition: 0s !important;
        }
    }
}
.closeside{
    left: -200px;
    transition: .5s;
}
header{
    position: fixed;
    left: 200px;
    height: 60px;
    right: 0;
    top: 0;
    background-color: #ffffff;
    transition: .5s;
    z-index: 10;    
    box-shadow: 9px 1px 5px 0px #00000030;
    .head{
        position: relative;
        padding: 0 15px;
        background-color: $color;
        height: inherit;
        display: grid;
        grid-template-columns: auto 90px 200px;
        .btnmenu{
            width: 35px;
            padding: 6px;
            margin: auto;
            display: none;
            user-select: none !important;
            cursor: pointer;
            .bars{
                position: relative;
                display: block;
                height: 4px;
                border-radius: 100px;
                margin-bottom: 3px;
                background-color: $tertiary-color;
            }
        }
        .notify{
            text-align: right;
            margin: auto 8px;
            font-size: 22px;
            color: #888888;
            .icon{
                position: relative;
                padding: 6px;
                margin-left: 0px;
                .count{
                    position: absolute;
                    top: -2px;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 10px;
                    color: $color;
                    line-height: 1.8;
                    border: 2px solid $color;
                    background-color: $primary-color;
                }
            }
        }
        .sub-admin{
            position: relative;
            display: flex;
            border-left: 0.5px dashed #bbbbbb;
            padding: 6px 0;
            cursor: pointer;
            .pic{
                position: relative;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid $color;
                margin: auto 10px;
                overflow: hidden;
                box-shadow: 0.5px 0.5px 3px 0 #00000060;
                img{
                    width: 100%;
                }
            }
            .title{
                display: grid;
                margin-right: 12px;
                strong{
                    font-size: 17px;
                    color: #444444;
                }
                small{
                    font-size: 12px;
                    color: #888888;
                }
            }
            .fa-caret-down{
                position: absolute;
                right: 2px;
                top: 25px;
                font-size: 18px;
                color: #888888;
            }
            .dropdown{
                position: absolute;
                display: none;
                right: 0;
                top: 60px;
                z-index: -1;
                background-color: #f5f5f5;
                box-shadow: 0 1px 15px 1px #00000040;
                .item{
                    display: block;
                    padding: 10px 75px;
                    border-bottom: 3px solid #f5f5f5;
                    text-decoration: none;
                    color: #707070;
                    &:hover{
                        transition: 0.9s;
                        background-color: #c237631a;
                        border-bottom: 3px solid $tertiary-color;
                    }
                }
            }
            &:hover{
                .dropdown{
                    display: block;
                }
            }
        }
    }
    .body{
        position: relative;
        padding: 20px;
        .card{
            position: relative;
            border: none;
            border-radius: 5px;
            box-shadow: 0 2px 10px #00000020;
            .content{
                display: grid;
                grid-template-columns: auto auto;
                padding: 30px 20px;
                margin-bottom: 30px;
                .title{
                    display: grid;
                    color: #6C6C6C;
                    small{
                        font-size: 14px;
                    }
                    strong{
                        font-size: 20px;
                    }
                }
                .variable{
                    font-size: 28px;
                    color: #737373;
                    font-weight: bold;
                    text-align: right;
                    margin: auto 0;
                }
            }
            .view{
                position: absolute;
                width: 100%;
                bottom: 0;
                text-align: center;
                padding: 8px;
                color: #737373;
                font-size: 13px;
                background-color: #F5F5F5;
            }
        }
        .card-dark{
            border-radius: 2px;
            box-shadow: none;
            background-color: $tertiary-color;
            color: #fff;
            font-size: 12px;
            .content{
                display: block;
                padding: 14px;
            }
            .view{
                background-color: transparent;
                color: #fff;
            }
        }
        .box{
            position: relative;
            width: 100%;
            height: 280px;
            border-radius: 5px;
            box-shadow: 0 1px 4px #00000020;
            transition: .5s;
            .refund, .cancel{
                padding: 5px;
                cursor: pointer;
                color: #008A90;
            }
            .border{
                border: none !important;
                border-bottom: 2px solid #008A90 !important;
            }
            .refund-box{
                display: block;
            }
            .cancel-box{
                display: none;
            }
        }
        .table-primary, .table-primary > th, .table-primary > td {
            background-color: #008A90;
            color: #ffffff;
        }
        .table th, .table td {
            padding: 5px;
            border: none;
        }
        .card1{
            position: relative;
            border: none;
            border-radius: 5px;
            display: grid;
            padding: 10px 30px;
            border: 2px solid #DBDBDB;
            cursor: pointer;
            &:hover{
                background-color: #008A90;
                border: 2px solid #008A90;
                .title{
                    color: #ffffff;
                }
            }
            .title{
                display: grid;
                color: #707070;
                margin: auto;
                small{
                    font-size: 14px;
                    margin: auto;
                }
                strong{
                    font-size: 20px;
                    margin: auto;
                }
            }
        }
        .search-box{
            position: relative;
            color: #dbdbdb;
            .search{
                border-radius: 200px;
                border: 2px solid #dbdbdb;
                padding: 5px 15px;
                color: #000;
                outline: none;
                width: 280px;
            }
            i{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
}
.expand-main{
    left: 0 !important;
    .head{
        padding: 0 65px;
    }
}
.content{
    position: absolute;
    left: 200px;
    top: 60px;
    right: 0;
    bottom: 0;
    //background-color: red;
    .dashboard, .user, .news, .product, .magazine{
        //padding: 20px;
        //margin-top: 20px;
        .admin-header{
            position: relative;
            border: none;
            border-radius: 5px;
            padding: 20px;
            background: linear-gradient(150deg, $primary-color, $tertiary-color);
            box-shadow: 1px 2px 10px 1px #00000040;
            .sub-admin{
                position: relative;
                display: flex;
                cursor: pointer;
                .pic{
                    position: relative;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 2.5px solid $color;
                    margin: auto 10px;
                    overflow: hidden;
                    box-shadow: 0.5px 0.5px 3px 0 #00000060;
                    img{
                        width: 100%;
                    }
                }
                .title{
                    display: grid;
                    margin-left: 12px;
                    padding: 10px 0;
                    span{
                        color: $color;
                        font-size: 18px;
                    }
                    small{
                        font-size: 14px;
                        color: #cecece;
                    }
                }
            }
            .todays-update{
                .todays-update-card{
                    background-color: #00000040;
                    border-radius: 5px;
                    height: 100%;
                    position: relative;
                    display: flex;
                    cursor: pointer;
                    .icon{
                        font-size: 25px;
                        color: $color;
                        margin: auto 10px;
                    }
                    .title{
                        display: grid;
                        text-align: right;
                        padding: 10px 12px;
                        width: 100%;
                        span{
                            color: $color;
                            font-size: 18px;
                            font-weight: 700;
                        }
                        small{
                            font-size: 11px;
                            color: #cecece;
                        }
                    }
                    &:hover{
                        box-shadow: 0px 6px 12px 1px #ffffff40;
                        transform: translate(0, -3px);
                    }
                }
            }
        }
        .head-bar{
            position: relative;
            padding: 10px 40px;
            right: 0;
            display: none;
            background-color: #aaaaaa;
            color: #fff;
            font-size: 28px;
            transition: .5s;
            z-index: 9;
            .head-heading{
                font-weight: 500;
                flex-grow: 1;
            }
            .add-icon{
                flex-grow: 1;
                align-self: center;
                text-align: right;
                cursor: pointer;
            }
        }
        .nav-head{
            position: sticky;
            left: 200px;
            padding: 0 20px;
            right: 0;
            top: 60px;
            display: flex;
            background: linear-gradient(150deg, $primary-color, $tertiary-color);
            transition: .5s;
            z-index: 8;
            box-shadow: 0px 4px 11px 1px #0000004f;
            .item{
                position: relative;
                color: $color;
                padding: 12px 30px;
                cursor: pointer;
                &:hover{
                    .line{
                        transform: scaleX(1);
                    }
                }
                .line{
                    position: absolute;
                    right: 40px;
                    bottom: 0;
                    left: 40px;
                    height: 4px;
                    transform: scaleX(0);
                    background-color: #fff;
                    border-radius: 5px 5px 0 0;
                }
            }
            .active{
                .line{
                    transform: scaleX(1);
                }
            }
            .add-music{
                position: absolute;
                right: 20px;
                padding: 12px 30px;
                color: #fff;
                cursor: pointer;
            }
        }
        .filter{
            padding: 20px 0 0 0;
            form{
                .form-group{
                    position: relative;
                    //width: 450px;
                    .icon{
                        position: absolute;
                        left: 10px;
                        padding: 7px 0;
                        color: #707070;
                    }
                    .icon-date{
                        position: absolute;
                        right: 10px;
                        padding: 7px 0;
                        color: #707070;
                        z-index: 1;
                    }
                    .gj-icon{
                        display: none;
                    }
                    input, select{
                        padding: 5px 35px;
                        border: none;
                        box-shadow: inset 0 0 6px 1px #0000007a;
                        background-color: $color;
                    }
                    .date{
                        padding: 5px 15px;
                    }
                    select{
                        padding: 5px 15px;
                    }
                    .btn{
                        width: 100%;
                        padding: 6px !important;
                    }
                }
            }
        }
        .count{
            .box{
                background-color: $color;
                display: inline-block;
                border-radius: 5px;
                padding: 5px 30px;
                box-shadow: 0 0 5px 0 #00000040;
                .count-heading{
                    color: #707070;
                    font-weight: 600;
                }
                .count-content{
                    margin-left: 8px;
                    font-size: 18px;
                    color: #333333;
                    font-weight: 800;
                }
            }
        }
        .user-list, .post-list, .music-list{
            padding: 0;
            .card{
                position: relative;
                display: flex;
                overflow: hidden;
                .crown{
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    img{
                        width: 35px;
                    }
                }
                .profile-pic{
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin:  10px auto 0px auto;
                    box-shadow: 0px 1px 8px 0px #0000008a;
                    img{
                        width: 100%;
                    }
                }
                .user-info{
                    padding: 8px 0 0 0;
                    display: grid;
                    .name{
                        font-size: 20px;
                        font-weight: bold;
                        margin: auto;
                        color: #333;
                        img{
                            width: 15px;
                        }
                    }
                    .username{
                        font-size: 13px;
                        margin: auto;
                        color: #707070;
                    }
                    .star{
                        margin: auto;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .stats{
                        display: flex;
                        padding: 10px 0;
                        .stats-item{
                            flex-grow: 1;
                            display: grid;
                            .stats-value{
                                margin: auto;
                                font-size: 14px;
                                font-weight: bold;
                            }
                            .stats-heading{
                                margin: auto;
                                font-size: 11px;
                            }
                        }
                    }
                    .btn{
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
            .post{
                position: relative;
                display: flex;
                height: 300px;
                background-color: #222;
                .detail-icon{
                    position: absolute;
                    right: 10px;
                    top: 6px;
                    color: #ffffff;
                    font-size: 20px;
                    z-index: 1;
                }
                video{
                    margin: auto;
                    width: 100%;
                    max-height: 300px;
                }
                .post-info{
                    position: absolute;
                    display: grid;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-color: #fff;
                    transform: scale(0);
                    z-index: 2;
                    .close{
                        position: absolute;
                        right: 6px;
                        top: 3px;
                        font-size: 20px;
                        color: $dark-color;
                        z-index: 5;
                    }
                    .info-box{
                        padding: 12px 15px 22px 15px;
                        overflow: scroll;
                        &::-webkit-scrollbar {
                            width: 3px;
                        }
                        &::-webkit-scrollbar-track {
                            background: #fff; 
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #aaa; 
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: #555; 
                        }
                        .info{
                            display: flex;
                            font-size: 14px;
                            .info-heading{
                                color: #000;
                                margin-right: 10px;
                                font-weight: bold;
                            }
                            .info-content{
                                color: #707070;
                            }
                        }
                    }
                    .button-box{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        .btn{
                            width: 100%;
                            border-radius: 0;
                            border: 2px solid #fff;
                            border-radius: 5px;
                        }
                    }
                }
            }
            .music{
                position: relative;
                border: none;
                border-radius: 5px;
                padding: 10px 15px;
                box-shadow: 1px 2px 10px 1px #00000040;
                .music-detail{
                    position: relative;
                    display: flex;
                    cursor: pointer;
                    .pic{
                        position: relative;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 1px solid $color;
                        margin: auto 0;
                        overflow: hidden;
                        box-shadow: 0.5px 0.5px 3px 0 #00000060;
                        img{
                            width: 100%;
                        }
                    }
                    .title{
                        display: grid;
                        margin-left: 12px;
                        padding: 0;
                        .song-name{
                            color: #414141;
                            font-size: 16px;
                            text-overflow: ellipsis;
                            overflow: hidden; 
                            white-space: nowrap;
                        }
                        .singer{
                            font-size: 14px;
                            color: #cecece;
                            text-overflow: ellipsis;
                            overflow: hidden; 
                            white-space: nowrap;
                        }
                    }
                }
                audio{
                    width: 100%;
                    height: 40px;
                    margin: auto;
                }
                .btn{
                    width: 100%;
                    &:focus{
                        box-shadow: none !important;
                    }
                }
            }
        }
        .heading{
            color: #aaa;
            font-size: 30px;
            font-weight: bold;
        }
        .notification{
            &:hover{
                box-shadow: 1px 2px 10px 1px #00000040 !important;
				transform: translate(0, 0) !important;
            }
        }
        .card{
            position: relative;
            border: none;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;
            box-shadow: 1px 2px 10px 1px #00000040;
            &:hover{
                box-shadow: 0px 6px 13px 2px #00000050;
				transform: translate(0, -3px);
                .view{
                    background-color: $tertiary-color;
                    color: #fff;
                }
                .description{
                    .detail{
                        transform: scale(1);
                    }
                }
            }
            .head, .list{
                background-color: $tertiary-color;
                border-radius: 5px 5px 0 0;
                padding: 10px 15px;
                font-size: 18px;
                color: $color;
                font-weight: 600;
            }
            .notify{
                height: 310px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 2px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1; 
                }
                &::-webkit-scrollbar-thumb {
                    background: #aaa; 
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #555; 
                }
                .list{
                    display: grid;
                    grid-template-columns: 30px auto;
                    background-color: $color;
                    font-size: 16px;
                    color: #6c6c6c;
                    font-weight: 400;
                    padding: 10px 18px;
                    border-bottom: 0.1px solid #ddd;
                    &:hover{
                        background-color: #c237631a;
                        border-bottom: 0.1px solid $tertiary-color;
                    }
                    span{
                        margin-left: 5px;
                    }
                }
            }
            
            .card-content{
                display: grid;
                padding: 10px 14px;
                margin-bottom: 30px;
                .title{
                    display: grid;
                    color: #6C6C6C;
                    small{
                        font-size: 11px;
                    }
                    strong{
                        font-size: 12px;
                    }
                }
                .variable{
                    font-size: 22px;
                    padding: 10px 0;
                    color: #737373;
                    font-weight: bold;
                }
            }
            .view{
                position: absolute;
                width: 100%;
                bottom: 0;
                text-align: center;
                padding: 8px;
                color: #737373;
                font-size: 13px;
                border-radius: 0 0 5px 5px;
                background-color: #F5F5F5;
            }
            .description{
                position: relative;
                width: 100%;
                height: 150px;
                overflow: hidden;
                border-radius: 5px 5px 0 0;
                .image{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .detail{
                    position: absolute;
                    transform: scale(0);
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #000000aa;
                    padding: 10px;
                    .head{
                        font-size: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: #fff;
                        font-weight: bold;
                    }
                    .remain, .price, .time{
                        color: #fff;
                        font-size: 18px;
                        font-weight: lighter;
                    }
                    .price{
                        i{
                            font-size: 16px;
                            margin-right: 3px;
                        }
                    }
                    .time{
                        font-size: 16px;
                    }
                }
            }
            .action{
                .btn{
                    width: 100%;
                    color: #fff;
                }
                .btn-view{
                    border-radius: 0 0 0 5px;
                    background-color: #1c4992;
                    &:hover{
                        background-color: #21395f;
                    }
                }
                .btn-edit{
                    border-radius: 0;
                    background-color: #808080;
                    &:hover{
                        background-color: #707070;
                    }
                }
                .btn-delete{
                    border-radius: 0 0 5px 0;
                    background-color: #aa0000;
                    &:hover{
                        background-color: #740000;
                    }
                }
            }
        }
        .model{
            position: fixed;
            display: none;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            background-color: #000000dd;
            .new{
                position: relative;
                padding: 40px 30px;
                border-radius: 5px;
                margin: auto;
                background-color: #f9f9f9;
                #file {
                    position: absolute;
                    top: -1000px;
                }
                #profile{
                    width: 720px;
                    height: 384px;
                    margin: 0 auto;
                    position: relative;
                    margin-bottom: 20px;
                    cursor: pointer;
                    background: #f4f4f4;
                    display: table;
                    background-size: cover;
                    background-position: center center;
                    .dashes {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 4px dashed #ddd;
                        opacity: 1;
                    }
                    label {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        padding: 0 30px;
                        color: grey;
                        opacity: 1;
                    }
                    
                }
                #profile.dragging {
                    background-image: none !important;
                }
                #profile.dragging .dashes {
                  -webkit-animation-duration: 10s;
                          animation-duration: 10s;
                  -webkit-animation-name: spin;
                          animation-name: spin;
                  -webkit-animation-iteration-count: infinite;
                          animation-iteration-count: infinite;
                  -webkit-animation-timing-function: linear;
                          animation-timing-function: linear;
                  opacity: 1 !important;
                }
                #profile.dragging label {
                  opacity: 0.5 !important;
                }
                #profile.hasImage .dashes, #profile.hasImage label {
                  opacity: 0;
                  pointer-events: none;
                  -webkit-user-select: none;
                     -moz-user-select: none;
                      -ms-user-select: none;
                          user-select: none;
                }
                  
                .close{
                    position: absolute;
                    top: 5px;
                    right: 8px;
                    img{
                        width: 20px;
                    }
                }
            }
        }
        
    }
    .user{
        margin-top: 0 !important;
        height: 800px;
    }
    .product_view, .event_view, .news_view, .magazine_view{
        margin-top: 15px;
        .card{
            border: none;
            .description{
                .heading{
                    margin-left: 20px;
                    margin-bottom: 20px;
                    font-size: 32px;
                    color: #444444;
                }
                .image{
                    display: grid;
                    img{
                        margin: auto;
                        width: 50%;
                    }
                }
                .detail{
                    padding: 35px;
                    font-size: 22px;
                    .head{
                        color: #808080;
                        .title-head{
                            color: #333;
                            margin-right: 20px;
                            font-weight: 800;
                        }
                        i{
                            font-size: 20px;
                            margin-right: 5px;
                        }
                    }
                    .product-content, .event-content, .news-content, .magazine-content{
                        text-align: center;
                        margin-top: 20px;
                    }
                }
            }
        }
        .btn{
            width: 100%;
            color: #fff;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        .btn-edit{
            background-color: #808080;
            &:hover{
                background-color: #707070;
            }
        }
        .btn-delete{
            background-color: #aa0000;
            &:hover{
                background-color: #740000;
            }
        }
        .new{
            position: relative;
            padding: 40px 30px;
            border-radius: 5px;
            margin: auto;
            background-color: #f9f9f9;
            #file {
                position: absolute;
                top: -1000px;
            }
            #profile{
                width: 720px;
                height: 250px;
                margin: 0 auto;
                position: relative;
                margin-bottom: 20px;
                cursor: pointer;
                background: #f4f4f4;
                display: table;
                background-size: cover;
                background-position: center center;
                .dashes {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 4px dashed #ddd;
                    opacity: 1;
                }
                label {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    padding: 0 30px;
                    color: grey;
                    opacity: 1;
                }
                
            }
            #profile.dragging {
                background-image: none !important;
            }
            #profile.dragging .dashes {
              -webkit-animation-duration: 10s;
                      animation-duration: 10s;
              -webkit-animation-name: spin;
                      animation-name: spin;
              -webkit-animation-iteration-count: infinite;
                      animation-iteration-count: infinite;
              -webkit-animation-timing-function: linear;
                      animation-timing-function: linear;
              opacity: 1 !important;
            }
            #profile.dragging label {
              opacity: 0.5 !important;
            }
            #profile.hasImage .dashes, #profile.hasImage label {
              opacity: 0;
              pointer-events: none;
              -webkit-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
            }
              
            .close{
                position: absolute;
                top: 5px;
                right: 8px;
                img{
                    width: 20px;
                }
            }
        }
    }
}

.modal, .edit-modal, .add-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background-color: #000000dd;
    .card{
        position: relative;
        margin: auto;
        padding: 22px 15px;
        width: 750px;
        .close{
            position: absolute;
            right: 5px;
            top: 2px;
            z-index: 9;
        }
        .profile-pic, .pic{
            width: 175px;
            height: 175px;
            border-radius: 50%;
            overflow: hidden;
            margin:  10px auto 0px auto;
            box-shadow: 0px 1px 8px 0px #0000008a;
            img{
                width: 100%;
            }
        }
        .verify-pic{
            position: relative;
            height: 240px;
            border-radius: 5px;
            display: flex;
            background-color: #222;
            box-shadow: 0px 1px 8px 0px #0000008a;
            img{
                margin: auto;
                max-width: 100%;
                max-height: 240px;
            }
        }
        .title{
            color: #808080;
            font-size: 18px;
        }   
        .title-content{
            color: #333333;
            font-weight: bold;
            font-size: 15px;
            audio{
                width: 100%;
                height: 40px;
            }
        }
    }
    .card-verify{
        width: 820px;
        .reject-msg{
            display: none;
            .msg-box{
                position: relative;
                padding: 20px 10px 10px 10px;
                background-color: #eee;
                border-radius: 5px;
                .close-msg-box{
                    font-size: 16px;
                    position: absolute;
                    right: 4px;
                    top: 0px;
                    z-index: 9;
                    cursor: pointer;
                }
                textarea{
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}



// Dashboard end //



@media(min-width:1200px){
    .container {
        max-width: 1320px !important;
    }
}

@media(max-width:1080px){
    .sidebar{
        left: -280px;
        z-index: 11;
        .head{
            .logo{
                .btnmenu{
                    position: absolute;
                    left: 285px;
                    display: block;
                    top: 20px;
                    font-size: 20px;
                    color: $tertiary-color;
                    transform: rotate(180deg);
                }
                .btnmenuclose{
                    position: relative;
                    left: 0;
                    top: unset;
                    font-size: 20px;
                    color: #fff;
                    transform: rotate(0deg);
                }
            }
        }
    }
    .closeside{
        left: 0px;
    }
    header{
        left: 0;
        .head{
            padding: 0 65px;
        }
    }
    .content{
        left: 0;
    }
    .expand-main{
        left: 280px;
    }
}

@media(max-width:992px){
    .closeside{
        left: 0px;
        z-index: 11;
    }
    .expand-main{
        left: 0px;
        .head{
            //padding: 0 10px;
            .btnmenu{
                z-index: 10;
                .bars{
                    background-color: #fff;
                }
                .top{
                    transform: rotateY(0deg) rotate(-45deg);
                }
                .center{
                    left: 5px;
                }
                .bottom{
                    transform: rotateY(0deg) rotate(45deg);
                }
            }
        }
    }
    .variable{
        font-size: 25px !important;
    }
}

@media(max-width:576px){
    .sidebar{
        .head{
            .logo{
                .btnmenu{
                    left: 300px;
                    //color: #fff;
                }
                .btnmenuclose{
                    left: 0;
                }
            }
        }
    }
    .modal{
        overflow: scroll !important;
    }
}

@media(max-width:420px){
    .wrapper{
        .card{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: unset;
            height: unset;
        }
        .footer{
            color: #008A90;
        }
    }
    header{
        .body{
            padding: 0px;
        }
        .head{
            padding: 0 10px;
            grid-template-columns: auto 90px 44px;
            .sub-admin{
                border-left: none;
                .pic{
                    width: 32px;
                    height: 32px;
                    margin: auto 6px;
                }
                .sub-admin-detail{
                    display: none;
                }
            }
        }
    }
    .table tr td, .table tr th {
        display: block;
    }
}


